body {
  margin: 0;
  padding: 0;
  background:linear-gradient(-25deg, gray, gray 50%, #ffffff 50%) ;
  color: #17255a;
  font-size: 16px;
 background-attachment: fixed; 
  background-repeat: no-repeat;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lobster', cursive;
  width: 100%;
  height: 100px;
  background-color: transparent;
}
h1{
  font-size: 3rem;
}
form{
  padding: 10px;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
input{
  width: 300px;
  height: 30px;
  margin-right: 10px;
  border-radius: 8px;
}
.input-field{
  padding-top: 10px; 
  width: 100%;
  display: flex;
  justify-content: center;

}
button{
  width: 50px;
  border-radius: 8px;
  background-color: gray;
  color: #17255a;
  margin-left: 20px;
  font-family: cursive;
  padding: 5px;
}
label{
  font-family: cursive;
  text-align: center;
}
ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
li{
  border-radius: 5px;
  font-size: 1.2rem;
  margin-right: 30px;
}

.myApp {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
q{
  width: 40%;
  display: block;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
  color: white;
 
}
.quote{
  display: flex;
  justify-content: flex-end;
  margin-top:50px;
  width: 100%;
  height: auto;

}
@media screen and (max-width:375px){
  body{
    background: linear-gradient(to bottom, white, white 70%, #C4C4C4 50%) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  q{
    width: 80%;
    font-size: 1.2rem;
    color: #17255a;
  }
  .quote{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-top:40px;

  }
  li{
    margin-right: 20px;
  }
}